.overlay.bg(style="background-image: url('img/overlay/bg.png')")
    .container
        .breadcrumb.rank-math-breadcrumb
            a(href="#!") Главная
            | &nbsp;|&nbsp;
            a(href="#!") Коллекция пионов
            | &nbsp;|&nbsp;
            span Abalone Pink
        h1.section__title.section__title_white.relative.overlay__title Abalone Pink