.overlay.bg(style="background-image: url('img/overlay/bg.png')")
    .container
        .breadcrumb.rank-math-breadcrumb
            a(href="#!") Главная
            | &nbsp;|&nbsp;
            a(href="#!") Коллекция пионов
            | &nbsp;|&nbsp;
            span Abalone Pink
        h1.section__title.section__title_white.relative.overlay__title Abalone Pink
.product
    .container
        .product__wrapper
            .product__wrapper-inner
                .product__block.flex
                    .product__left.width__full
                        .product__img.relative.bg(style="background-image: url('img/product/1.jpg')")
                            .btn.btn__sm.product__favorite.flex.absolute
                                <svg class="btn__svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.1751 5.43501C19.7203 4.98007 19.1804 4.61918 18.5862 4.37296C17.992 4.12673 17.355 4 16.7118 4C16.0686 4 15.4316 4.12673 14.8374 4.37296C14.2432 4.61918 13.7033 4.98007 13.2485 5.43501L12.3048 6.37873L11.3611 5.43501C10.4426 4.51649 9.19679 4.00048 7.89781 4.00048C6.59883 4.00048 5.35305 4.51649 4.43454 5.43501C3.51602 6.35353 3 7.5993 3 8.89828C3 10.1973 3.51602 11.443 4.43454 12.3616L5.37825 13.3053L12.3048 20.2318L19.2314 13.3053L20.1751 12.3616C20.63 11.9068 20.9909 11.3669 21.2371 10.7727C21.4833 10.1784 21.6101 9.54152 21.6101 8.89828C21.6101 8.25505 21.4833 7.61812 21.2371 7.02388C20.9909 6.42964 20.63 5.88974 20.1751 5.43501V5.43501Z" stroke="#556444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .btn.btn__sm.product__boost.flex.absolute.modal__show(data-modal="gallery_product")
                                <svg class="btn__svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.1111 18.2222C15.0385 18.2222 18.2222 15.0385 18.2222 11.1111C18.2222 7.18375 15.0385 4 11.1111 4C7.18375 4 4 7.18375 4 11.1111C4 15.0385 7.18375 18.2222 11.1111 18.2222Z" stroke="#556444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20 20L16.1333 16.1333" stroke="#556444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11 8V14" stroke="#556444" stroke-width="1.5" stroke-linecap="round"/>
                                <path d="M14.2 11.2H7.79995" stroke="#556444" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>
                    .product__right.width__full
                        h2.product__title Abalone Pink
                        .product__subtitle Характеристики:
                        .product__table.flex
                            +productTableGroup('Группа', 'Межвидовые гибриды')
                            +productTableGroup('Диаметр цветка', '8 см')
                            +productTableGroup('Год создания', '1979')
                            +productTableGroup('Форма цветка', 'Простой')
                            +productTableGroup('Страна создания', 'USA , США')
                            +productTableGroup('Сезон цветения', 'Весна')
                            +productTableGroup('Высота куста', '66 см')
                            +productTableBtn
                .product__gallery.flex
                    +productGalleryItem('active','img/product/1.jpg')
                    +productGalleryItem('','img/product/2.jpg')
                    +productGalleryItem('','img/product/3.jpg')
                    +productGalleryItem('','img/product/2.jpg')
                    +productGalleryItem('','img/product/3.jpg')
                    +productGalleryItem('','img/product/3.jpg')
                .product__desc
                    h4 Рекомендации:
                    p Во-первых : Выкопайте яму в почве , которая в два раза больше корня пиона , который Вы хотите посадить.
                    p Во-вторых : Не делайте яму слишком глубокой и хорошо разрыхлите почву на дне ямы.
                    p В-третьих : Поместите растение в лунку. Корни могут располагаться вертикально, но также и горизонтально . Глаза ( почки ) направлены вверх(!). Аккуратно прижмите растение . Теперь растение должно находиться на такой глубине, чтобы верхние глазки оказались на 2-5 см ниже уровня поверхности. Эта глубина равна толщине двух пальцев;
                    p В-четвертых : Снова закройте отверстие и отметьте место палкой .  Это будет напоминанием, что не сажайте там никаких других растений, пока пионы не появятся весной.
                    p &nbsp;
                    p Для пересадки пиона есть две действительно важные вещи, которые вы никогда не должны делать:
                    p Во-первых : никогда не сажайте какой-либо кусок обратно на старое место .
                    p Во-вторых :  никогда не сажайте пион обратно в одном куске (как вы его выкопали).
include watch.pug