header.header.absolute.width__full
    .container
        .header__block.flex
            a(href="/").flex.header__logo.logo
                img(src="img/logo.png")
            ul.header__list.flex
                +headerListItem('/','Главная')
                +headerListItem('/product.html','Коллекция пионов')
                +headerListItem('/product1.html','Агротехника')
                +headerListItem('#!','Контакты')
            .header__btns.flex
                a(href="#!").btn.btn__sm.header__btn.flex
                    +btnSmSearch
                a(href="#!").btn.btn__sm.header__btn.btn__favorite.flex
                    +btnSmFavorite
                +btnRegister('header__btn')