extends ../layout/layout.pug
block vars
    - let title = 'Abalone Pink';
block styles
    include ../includes/styles/styles.pug
block header
    include ../includes/header/header.pug
block content
    include ../includes/content/content-product.pug
block footer
    include ../includes/footer/footer.pug
block scripts
    include ../includes/scripts/scripts.pug