.btn
	border-radius: 4px
	height: 40px
	cursor: pointer
	max-width: 220px
	align-items: center
	justify-content: center
	background-color: var(--color-olive)
	&__title
		line-height: 19px
		color: var(--color-white)
	&__sm
		width: 40px
		height: 40px
		border-radius: 4px
		background-color: var(--color-white)
	&__register
		background-color: var(--color-white)
		border-radius: 4px
		width: 169px
		max-width: 100%
		.btn
			&__title
				color: var(--color-black)