.relative
  position: relative

.absolute
  position: absolute

.section
  &__title
    font-size: 24px
    line-height: 28px
    margin-bottom: 10px

    &::after
      content: ''
      width: 19px
      background-color: var(--color-black)
      height: 3px
      position: absolute
      bottom: -2px
      left: -2px
      border-radius: 100px

    &_olive
      &::after
        background-color: var(--color-olive)

      &::first-letter
        color: var(--color-olive)

    &_black
      color: var(--color-white)

      &::after
        background-color: var(--color-black)

      &::first-letter
        color: var(--color-black)
    &_white
      &::after
        background-color: var(--color-olive)

  &__subtitle
    max-width: 700px
    font-size: 15px
    line-height: 18px
    color: rgba(0, 0, 0, 0.3)
    margin-bottom: 22px

    span
      color: rgba(0, 0, 0, 0.5)

.favorite
  cursor: pointer
  width: 19px

  &:hover, &.active
    path
      fill: var(--color-olive)

.bg
  background-size: cover
  background-repeat: no-repeat

.hover
  &__line
    &::after
      content: ''
      position: absolute
      bottom: -2px
      left: 0
      width: 100%
      height: 1px
      background-color: var(--color-white)
      opacity: 0

    &:hover
      &::after
        opacity: 1

.breadcrumb.rank-math-breadcrumb
  display: flex
  a, span
    font-size: 14px
    line-height: 16px
    position: relative
    &::after
      content: ''
      position: absolute
      bottom: 3px
      left: 0
      width: 100%
      height: 1px
      background-color: var(--color-white)
.overlay
  padding-top: 98px
  padding-bottom: 25px
  color: var(--color-white)
  background-position: bottom
  &__title
    margin-top: 151px
    margin-bottom: 0
.fixed
  position: fixed
.modal
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  overflow: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  top: 0
  left: 0
  z-index: -1
  visibility: hidden
  opacity: 0
  transition: var(--transition-default)
  &.active
    z-index: 10
    visibility: visible
    opacity: 1
  .container
    margin-top: 238px
    margin-bottom: 30px
  &__form
    .container
      max-width: 450px
    &-item
      background-color: var(--color-white)
      padding: 25px
    &-title
      font-size: 22px
      line-height: 26px
      margin-bottom: 40px
      text-align: center
    &-group
      margin-bottom: 10px
    &-subtitle
      font-size: 14px
      line-height: 16px
      color: #4E4E4E
      margin-bottom: 5px
    &-input
      background: #F7F7F7
      border-radius: 4px
      border: 0
      outline: 0
      padding: 10px 10px 11px
      font-weight: 600
      line-height: 19px
    &-btn
      max-width: 100%
      margin-top: 20px
    &-link
      margin-top: 5px
      font-size: 14px
      line-height: 16px
      text-decoration: underline
      display: table
      cursor: pointer